<header class="flex justify-between items-center py-5 w- full xl:w-[1120px] mx-auto">
    <img 
         class="rounded-full w-20 h-20"
         src="https://avatars.githubusercontent.com/u/44887537?v=4"
         alt="Gabriel's Photo"
    />
    <div class="flex justify-between items-center w-[660px] mx-aut">
        gabrielvillagra29@proton.me
    </div>
    <nav class="flex flex-row gap-x-10 opacity-90">
        <a href="#top">Home</a>
        <a href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#contact">Contact</a>
    </nav>
</header>